@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* -----TOGGLE SWITCH----- */
  .toggle-bg:after {
    content: '';
    @apply absolute top-auto left-auto bg-white border border-gray-300 rounded-full h-5 w-5 transition shadow-sm;
  }

  input:checked+.toggle-bg:after {
    transform: translateX(100%);
    @apply border-white;
  }

  input:checked+.toggle-bg {
    @apply bg-indigo-600 border-indigo-600;
  }

  /* -----TOGGLE SWITCH----- */
}


@media screen and (max-width: 639px) {
    ::-webkit-scrollbar {
      display: none;
    }
}
